<body>
    <section class="calculator-section">
        <div class="container">
            <div class="calculator">
                <div class="calculator-text-box">
                    <h2 class="heading-secondary form">Calculator Colesterol</h2>
                </div>
                <form (create)="collectDataCOL()" [formGroup]="calculatorForm" (ngSubmit)="calculateCOL(calculatorForm.value)" #formDirective="ngForm" class="calculator-form grid-form" action="#">
                    <div>
                        <label for="hdl">HDL</label>
                        <input id="hdl" type="number" formControlName="hdl" placeholder="55 mg/dL" required>
                    </div>
                    <div>
                        <label for="ldl">LDL</label>
                        <input id="ldl" type="number" formControlName="ldl" placeholder="175 mg/dL" required>
                    </div>              
                    <div>
                        <label for="triglycerides">Trigliceride</label>
                        <input id="triglycerides" type="number" formControlName="triglycerides" placeholder="55 mg/dL" required>
                    </div>
                    <button class="btn--form">Calculeaza</button>
                </form>
                <div class="calculator-result" *ngFor="let calculus of calculus$ | async">
                    <div class="result">
                      <p>Nivel: {{ calculus.result }}</p> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
    <app-footer></app-footer>

