<header [class.sticky]="sticky" [ngClass]="menuClass">
    <div class="nav container">
        <nav class="nav-bar">
             <div class="logo" routerLink="/home">
                <a routerLink="/home" class="nav-home-link" routerLinkActive="active"><fa-icon [icon]="faHouse"></fa-icon></a>
            </div>
                <ul class="nav-bar-list">
                    <li><a class="nav-bar-link" *ngIf="isAuthenticated && !isBanned" routerLink="/about" routerLinkActive="active">Despre</a></li>
                    <li>
                        <div class="dropdown" *ngIf="isAuthenticated && !isBanned">
                            <button class="dropbtn">Calculator</button>
                            <div class="dropdown-content">
                                <a class="nav-bar-link" *ngIf="isAuthenticated && !isBanned" routerLink="/calculator" routerLinkActive="active">Calculator RMB</a>
                                <a class="nav-bar-link" *ngIf="isAuthenticated && !isBanned" routerLink="/calculatorBMI" routerLinkActive="active">Calculator BMI</a>
                                <a class="nav-bar-link" *ngIf="isAuthenticated && !isBanned" routerLink="/calculatorAT" routerLinkActive="active">Calculator Tensiune</a>
                                <a class="nav-bar-link" *ngIf="isAuthenticated && !isBanned" routerLink="/calculatorTR" routerLinkActive="active">Calculator Trigliceride</a>
                                <a class="nav-bar-link" *ngIf="isAuthenticated && !isBanned" routerLink="/calculatorCOL" routerLinkActive="active">Calculator Colesterol</a>
                            </div>
                        </div>                                   
                    </li>
                    <li><a class="nav-bar-link" *ngIf="isAuthenticated && !isBanned" routerLink="/userprofile" routerLinkActive="active">Contul Meu</a></li>
                    <li><a class="nav-bar-link" *ngIf="isAuthenticated && !isBanned" routerLink="/statistics" routerLinkActive="active">Statistici</a></li>
                    <li><a class="nav-bar-link" *ngIf="isAuthenticated && isAdmin" routerLink="/ControlPanel" routerLinkActive="active">Panoul de control</a></li>
                    <li><a class="nav-bar-link" *ngIf="!isAuthenticated && !isBanned" routerLink="/about" routerLinkActive="active">Despre</a></li>
                    <li><a class="nav-bar-link" *ngIf="!isAuthenticated" routerLink="/login" routerLinkActive="active">Logare</a></li>                  
                    <li><a class="nav-bar-link" *ngIf="!isAuthenticated" routerLink="/register" routerLinkActive="active">Inregistrare</a></li>
                    <li><a class="btns btn--nav" *ngIf="isAuthenticated " (click)="logout()" routerLink="/login">Delogare</a></li>
                </ul>
                 <button class="btn-mobile-nav" (click)="toggleMenu()">
                    <fa-icon [icon]="isMenuOpen ? faToggleOff : faToggleOn" name="menu-outline" class="icon"></fa-icon>
                    <fa-icon [icon]="isMenuOpen ? faToggleOn : faToggleOff" name="close-outline" class="icon"></fa-icon>
                 </button>
        </nav>
    </div>
</header>

<!-- <header [class.sticky]="sticky" [ngClass]="menuClass">
    <div class="nav container">
        <div class="nav-bar">
            <div class="logo" routerLink="/home">
                <img class="logo-img" src="assets/img/logo.png">
            </div>
            <ul class="nav-bar-list">
                <li (click)="selectPage()"><a class="nav-bar-link" routerLink="/home" routerLinkActive="active">Home</a></li>
                <li (click)="selectPage()"><a class="nav-bar-link" routerLink="/about" routerLinkActive="active">About</a></li>
                <li (click)="selectPage()" *ngIf="!isAuthenticated"><a class="nav-bar-link" routerLink="/register" routerLinkActive="active">Register</a></li>
                <li (click)="selectPage()" *ngIf="!isAuthenticated"><a class="nav-bar-link" routerLink="/login" routerLinkActive="active">Login</a></li>
                <li (click)="selectPage()" *ngIf="isAuthenticated"><a class="nav-bar-link" routerLink="/account" routerLinkActive="active">Account</a></li>
                <li><a class="nav-bar-link" *ngIf="isAuthenticated" (click)="logout()" routerLink="/home">Logout <fa-icon [icon]="faRightFromBracket"></fa-icon></a></li>
                <li><a  routerLink="/about" class="btn btn--nav">Make Recipe</a></li>
            </ul>
            <button class="btn-mobile-nav" (click)="toggleMenu()">
              <fa-icon [icon]="isMenuOpen ? faToggleOff : faToggleOn" name="menu-outline" class="icon"></fa-icon>
              <fa-icon [icon]="isMenuOpen ? faToggleOn : faToggleOff" name="close-outline" class="icon"></fa-icon>
            </button>
        </div>
    </div>
</header> -->