.nav-section{
    position: relative;
    top: 0;
    left: 0;
    height: fit-content;
    width: 100vw;
    height: 10vh;
    background-color: #202020;
    background-size: cover;
}

.nav{
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.main-nav-list{ 
    list-style: none;
    display: flex;
    gap: 4.8rem;
    z-index: 2;
}

.nav-home-link:link{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    padding: 1.2rem;
    z-index: 2;
}

.nav-home-link:visited, .main-nav-link:link, .main-nav-link:visited{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1.2rem;
}

.nav-home-link:link, .nav-home-link:visited{
    box-shadow: inset 0 0 0 3px #fff;
    border-radius: 20px;
    transition: all 0.3s;
}

.nav-home-link:hover, .nav-home-link:active, .nav-home-link.active{
    box-shadow: inset 0 0 0 3px #3eb058;
    background-color: #3eb058;
}

.main-nav-link:link, .main-nav-link:visited{
    padding: 1.2rem;
    border-bottom: 2px solid;
    transition: all 0.3s;
}

.main-nav-link:hover, .main-nav-link:active, .main-nav-link.active{
    color: #3eb058;
    border-bottom: 2px solid #3eb058;
}

/* dropmenu */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 0.32rem 1.2rem;
    background-color: inherit;
    border-bottom: 2px solid;
    padding-bottom: 1.2rem; 
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: #3eb058;
    border-bottom: 2px solid #3eb058;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #2e762b;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }