<body>
<section class="Statistics-section">
    <div class="container container--statistics">
        <span class="subheading subheading--statistics">Statistici</span>
        <h2 class="heading-secondary heading-secondary--statistics">Diagrama IMC    
        </h2>
        <p class="statistics-description">
            Indicele de masa corporala sau IMC este indicatorul oficial de calculare a greutatii corporale ideale, pentru o inaltime data. Indicele de masa corporala ajuta la stabilirea grupei de greutate in care se incadreaza o persoana, adica gradul de obezitate.

            Indicele de masa corporala mai poate fi folosit pentru calcularea numarului de kilograme pe care o persoana trebuie sa le piarda sau sa le castige, pentru a ajunge la greutatea ideala conform inaltimii.
        </p>
        <div class="grid grid--chart">
            <canvas id="bmiChart"></canvas>
        </div>

        <h2 class="heading-secondary heading-secondary--statistics">Diagrama Nivel Activitate    
        </h2>
        <p class="statistics-description">
            Activitatea fizică determină consum de energie și este fundamentală pentru menținerea greutății; Îmbunătățește coordonarea, abilitatea și capacitatea de reacție; Are efect pozitiv asupra activității cardiovasculare.
        </p>
        <div class="grid grid--chart">
            <canvas id="activityChart"></canvas>
        </div>

        <h2 class="heading-secondary heading-secondary--statistics">Diagrama Tensiune Arteriala    
        </h2>
        <p class="statistics-description">
            Tensiunea arteriala (TA) reprezinta presiunea exercitata de coloana de sange asupra peretelui vascular, in special asupra tunicii interne-endoteliul in timpul contractiei si relaxarii ritmice a inimii.
        </p>
        <div class="grid grid--chart">
            <canvas id="arterialChart"></canvas>
        </div>

        <h2 class="heading-secondary heading-secondary--statistics">Diagrama Nivel Trigliceride   
        </h2>
        <p class="statistics-description">
            Trigliceridele sunt lipide sau grasimi care se deplaseaza in sange si care pot fi stocate in tesuturile din organism. Acestea sunt o sursa importanta de energie pentru organismul uman.
            Trigliceridele sunt cea mai comuna forma de grasime din organism. Ele sunt principalul ingredient in uleiurile vegetale si grasimile animale.
        </p>
        <div class="grid grid--chart">
            <canvas id="trygliceridesChart"></canvas>
        </div>
    </div>
</section>
<app-footer></app-footer>
</body>
