<body>
<section class="Statistics-section">
    <div class="container container--statistics">
        <span class="subheading subheading--statistics">Statistici</span>
        <h2 class="heading-secondary heading-secondary--statistics">Diagramă Indice Masă Corporală    
        </h2>
        <p class="statistics-description">
            Indicele de masă corporală sau IMC este indicatorul oficial de calculare a greutății corporale ideale, pentru o înălțime dată. Indicele de masă corporală ajută la stabilirea grupei de greutate în care se încadrează o persoană, adică gradul de obezitate.

            Indicele de masă corporală mai poate fi folosit pentru calcularea numărului de kilograme pe care o persoană trebuie să le piardă sau să le câștige, pentru a ajunge la greutatea ideală conform înălțimii.
        </p>
        <div class="grid grid--chart">
            <canvas id="bmiChart"></canvas>
        </div>

        <h2 class="heading-secondary heading-secondary--statistics">Diagramă Nivel Activitate    
        </h2>
        <p class="statistics-description">
            Activitatea fizică determină consum de energie și este fundamentală pentru menținerea greutății; Îmbunătățește coordonarea, abilitatea și capacitatea de reacție; Are efect pozitiv asupra activității cardiovasculare.
        </p>
        <div class="grid grid--chart">
            <canvas id="activityChart"></canvas>
        </div>

        <h2 class="heading-secondary heading-secondary--statistics">Diagramă Tensiune Arterială    
        </h2>
        <p class="statistics-description">
            Tensiunea arterială (TA) reprezintă presiunea exercitată de coloana de sânge asupra peretelui vascular, în special asupra tunicii interne-endoteliul în timpul contracției și relaxării ritmice a inimii.
        </p>
        <div class="grid grid--chart">
            <canvas id="arterialChart"></canvas>
        </div>

        <h2 class="heading-secondary heading-secondary--statistics">Diagramă Nivel Trigliceride   
        </h2>
        <p class="statistics-description">
            Trigliceridele sunt lipide sau grăsimi care se deplasează în sânge și care pot fi stocate în țesuturile din organism. Acestea sunt o sursă importantă de energie pentru organismul uman.
            Trigliceridele sunt cea mai comună formă de grăsime din organism. Ele sunt principalul ingredient în uleiurile vegetale și grăsimile animale.
        </p>
        <div class="grid grid--chart">
            <canvas id="trygliceridesChart"></canvas>
        </div>

        <h2 class="heading-secondary heading-secondary--statistics">Diagramă Nivel Colesterol   
        </h2>
        <p class="statistics-description">
            Colesterolul este esențial pentru funcționarea sănătoasă a organismului și nu putem trăi fără el. Numai în situația în care acesta depășește anumite valori pot să apară unele probleme de sănătate. De exemplu, spun medicii, colesterolul mărit este una din principalele cauze de apariție a bolilor cardiovasculare.
        </p>
        <div class="grid grid--chart">
            <canvas id="colesterolChart"></canvas>
        </div>
    </div>
</section>
<app-footer></app-footer>
</body>
