<body>
<section class="Statistics-section">
    <div class="container container--statistics">
        <span class="subheading subheading--statistics">Statistici</span>
        <h2 class="heading-secondary        heading-secondary--statistics">Diagrama IMC    
        </h2>
        <p class="statistics-description">
            Indicele de masa corporala sau IMC este indicatorul oficial de calculare a greutatii corporale ideale, pentru o inaltime data. Indicele de masa corporala ajuta la stabilirea grupei de greutate in care se incadreaza o persoana, adica gradul de obezitate.

            Indicele de masa corporala mai poate fi folosit pentru calcularea numarului de kilograme pe care o persoana trebuie sa le piarda sau sa le castige, pentru a ajunge la greutatea ideala conform inaltimii.
        </p>
        <div class="grid grid--chart">
            <canvas id="barChart"></canvas>
        </div>
    </div>
</section>
<app-footer></app-footer>
</body>
