<body>
    <section class="calculator-section">
        <div class="container">
            <div class="calculator">
                <div class="calculator-text-box">
                    <h2 class="heading-secondary form">Calculator Tensiune Arteriala</h2>
                </div>
                <form (create)="collectDataAT()" [formGroup]="calculatorForm" (ngSubmit)="calculateAT(calculatorForm.value)" #formDirective="ngForm" class="calculator-form grid-form" action="#">
                    <div>
                        <label for="sbp">Presiunea Sistolica</label>
                        <input id="sbp" type="number" formControlName="sbp" placeholder="55 mm/HG" required>
                    </div>
                    <div>
                        <label for="dbp">Presiunea Diastolica</label>
                        <input id="dbp" type="number" formControlName="dbp" placeholder="175 mm/HG" required>
                    </div>              
                    <button class="btn--form">Calculeaza</button>
                </form>
                <div class="calculator-result" *ngFor="let calculus of calculus$ | async">
                    <div class="result">
                      <p>Nivel: {{ calculus.result }}</p> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
