<main>
    <body>
        <div class="userprofile-container">
            <div class="userprofile" *ngFor="let user of userInfo$ | async">
                <div class="info-bar">
                     <button class="history-button" routerLink="/history">Istoric <fa-icon [icon]="faMousePointer"></fa-icon></button>               
                </div>
                <div class="user-photo">                 
                    <!-- <form [formGroup]="uploadForm" (ngSubmit)="uploadPhoto()" enctype='multipart/form-data'>
                        <div class="image-upload">
                           <input type="file" formControlName="image"> 
                           <button class="btn"><fa-icon [icon]="faUpload"></fa-icon></button> 
                        </div>
                    </form> -->
                    <img src="assets/img/user.png" class="img-user" alt="user photo" width="270" height="250"> 
                    <div class="user-description">
                        Detalii cont:
                        <br>
                        Nume utilizator: {{user.name}}
                        <br>
                        Email: {{user.email}}
                        </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="results-container">
                    <div class="card" *ngFor="let user of userAT$ | async">
                        <h2>Tensiune Arteriala: {{user.result}}</h2>
                    </div>
                    <div class="card" *ngFor="let user of userTR$ | async">
                        <h2>Trigliceride: {{user.result}}</h2>
                    </div> 
                    <div class="card" *ngFor="let user of userCol$ | async">
                        <h2>Colesterol: {{user.result}}</h2>
                    </div>
                </div>
                <select id="tableOption" class="tableOption" [(ngModel)]="selectedComponent">
                    <option value="BMI">Indice Masă Corporală</option>
                    <option value="RMB">Rată Metabolică Bazală</option>
                </select>
                <div class="chart-box">
                    <app-rmb *ngIf="selectedComponent === 'RMB'"></app-rmb>
                    <app-bmi *ngIf="selectedComponent === 'BMI'"></app-bmi>
                  </div>
            </div>
        </div>
    </body>
  <app-footer></app-footer>
</main>