<body>
<div class="home">
    <div class="video-overlay"></div>
    <section class="hero-section">
        <div class="home-container">
            <div class="hero-text-box">
                <h1 class="heading-primary heading-primary--hero" *ngIf="!isAuthenticated">Un corp sănătos are o greutate normală</h1>
                <div *ngFor="let user of userInfo$ | async">
                    <h1 class="heading-primary heading-primary--hero" *ngIf="isAuthenticated" >Bun venit înapoi, {{user.name}}!</h1>
                </div>
                <p class="hero-text" *ngIf="!isAuthenticated">
                    Află mai multe despre aceasta aplicație
                </p>
                <p class="hero-text" *ngIf="isAuthenticated">
                    Vezi în ce parametri te afli
                </p>
                <a  routerLink="/about" class="btn btn--home" *ngIf="!isAuthenticated">Despre</a>
                <a  routerLink="/calculator" class="btn btn--home" *ngIf="isAuthenticated">Calculeaza</a>
            </div>
        </div>
    </section>
</div>
</body>