<body>
<div class="home container">
    <div class="video-overlay"></div>
    <section class="hero-section">
        <div class="home-container">
            <div class="hero-text-box">
                <h3 class="heading-tertiary heading-tertiary--hero" *ngIf="!isAuthenticated">- Oferim</h3>
                <h1 class="heading-primary heading-primary--hero" *ngIf="!isAuthenticated">Aplicația perfectă pentru sănătatea ta</h1>
                <h1 class="heading-primary heading-primary--hero" *ngIf="isAuthenticated && isBanned">Contul este blocat.</h1>
                <div *ngFor="let user of userInfo$ | async">
                    <div *ngFor="let user of userInfo$ | async">
                        <h1 class="heading-primary heading-primary--hero" *ngIf="isAuthenticated && !isBanned">
                            Bun venit înapoi, <span style="color: #3eb058">{{user.name}}</span>!
                        </h1>
                    </div>
                </div>
                <p class="hero-text" *ngIf="!isAuthenticated">
                    Află mai multe
                </p>
                <p class="hero-text" *ngIf="isAuthenticated && !isBanned">
                    Vezi în ce parametri te afli
                </p>
                <a  routerLink="/about" class="btn btn--home" *ngIf="!isAuthenticated">Despre</a>
                <a  routerLink="/calculator" class="btn btn--home" *ngIf="isAuthenticated && !isBanned">Calculează</a>
            </div>
        </div>
    </section>
</div>
</body>