.calculator-section{
    padding: 9.6rem 0 9.6rem 0;
    background-color: #e6f3e6;
}

.calculator{
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, #33a033, #b3dbb3);
}

.form{
    text-align: center;
}

.grid-form{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
}

.calculator-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.2rem;
    row-gap: 2.4rem;
    padding: 3.6rem 6.4rem 6.4rem 6.4rem;
    border-top: 0.5px solid #004747;
}

.calculator-text-box{
    padding: 2.4rem 4.8rem 4.8rem 4.8rem;
    color: #001b00;
}

.calculator .heading-secondary{
    color: inherit;
    margin-bottom: 3.2rem;
}

.calculator-text{
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 4.8rem;
}

.calculator-form label{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
    color: #000;
}

.calculator-form input, .calculator-form select{
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.calculator-form input::placeholder{
    color: #6b6b6b;
}

.calculator-result{
    font-size: 3.2rem;
    font-weight: 600;
    color: #001b00;
    text-align: center;
    margin-bottom: 2rem;
}

.calculator *:focus{
    outline: none;
    box-shadow: 0 0 0 0.8rem hsla(27, 83%, 95%, 0.5);
}

.btn--form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001b00;
    color: #fff;
    border-radius: 9px;
    padding: 1.2rem;
    transition: all 0.5s;
    font-size: 1.6rem;
    cursor: pointer;
}

.btn--form:hover, .btn--form:active{
    background-color: #fff;
    color: #333;
}
