<body>
    <section class="calculator-section">
        <div class="container">
            <div class="calculator">
                <div class="calculator-text-box">
                    <h2 class="heading-secondary form">Calculator Indice Masa Corporală</h2>
                </div>
                <form (create)="collectDataBmi()" [formGroup]="calculatorForm" (ngSubmit)="calculateBmi(calculatorForm.value)" #formDirective="ngForm" class="calculator-form grid-form" action="#">
                    <div>
                        <label for="weight">Greutate</label>
                        <input id="weight" type="number" formControlName="weight" placeholder="55 kg" required>
                    </div>
                    <div>
                        <label for="height">Inălțime</label>
                        <input id="height" type="number" formControlName="height" placeholder="175 cm" required>
                    </div>              
                    <button class="btn--form">Calculează</button>
                </form>
                <div class="calculator-result" *ngFor="let calculus of calculus$ | async">
                    <div class="result">
                      <p>Rezultat: {{ calculus.result | number:'1.2-2' }} % grasime corporală</p> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
    <app-footer></app-footer>