<body>
  <section class="registration-section">
    <div class="container">
      <div class="registration">
        <div class="registration-text-box">
          <h2 class="heading-secondary">Loghează-te</h2>
          <p class="error-message-extended" *ngIf="submitted && loginFailed">Numele sau parola incorecte.</p>
          <form
            [formGroup]="loginForm"
            (ngSubmit)="login()"
            class="registration-form"
          >
            <div>
              <label for="user-name">Nume utilizator</label>
              <input
                type="text"
                formControlName="name"
                placeholder="Popescu"
                required
              />
              <small class="error-message" *ngIf="submitted && loginForm.get('name')?.invalid">Numele are cel puțin 3 caractere</small>
            </div>
            <div>
              <label for="password">Parolă</label>
              <input
                type="password"
                formControlName="password"
                placeholder="Parola"
                required
              />
              <small class="error-message" *ngIf="submitted && loginForm.get('password')?.invalid">Parola are cel puțin 6 caractere</small>
            </div>
            <button class="btn--form">Intră în cont</button>
          </form>
        </div>
      
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</body>
