.footer{
    padding: 2.4rem 0 2.4rem 0;
}

.heading-tertiary--footer{
    text-align: center;
} 

.footer-flex-list{
    display: flex;
    justify-content: center;
    gap: 2.4rem;
}

.footer-flex-list{
    list-style: none;
    display: flex;
}

.footer-link:link, .footer-link:visited{
    text-decoration: none;
    font-size: 3.2rem;
    color: #555;
    transition: all 0.3s;
}

.footer-link:hover, .footer-link:active{
    color: #33a033;
}