<body>
<section class="about-section">
    <div class="container">
        <span class="subheading">Află mai multe</span>
        <h2 class="heading-secondary">Învață despre metabolism</h2>
    </div>

    <!-- STEP 01 -->
    <div class="container grid grid--2cols grid--center-v">
        <div class="text-step-box">
            <p class="step-number">01</p>
            <h3 class="heading-tertiary">
                Ce este metabolismul?
            </h3>
            <p class="description-step">
                Metabolismul este un cumul de reacții chimice care se produc în organism, al căror scop este acela de a transforma hrana în energie necesară pentru procesele celulare, de a converti hrana în „materie primă” pentru proteine, lipide și nu numai, dar și de a elimina reziduurile. Persoanele care au un metabolism rapid sunt cele care folosesc caloriile mult mai rapid decât acele persoane cu un metabolism mai lent. Un mod excelent prin care îți poți accelera metabolismul este prin mișcare efectuată regulat.
            </p>
        </div>
            <div class="step-img-box">
                <img src="assets/img/step-img-1.jpg" class="img-step" alt="Ceva"/>
            </div>
    
    <!-- STEP 02 -->
    
        <div class="img-step-box">
            <img src="assets/img/step-img-2.jpg" class="img-step" alt="Ceva"/>
        </div>
        <div class="text-step-box">
            <p class="step-number">02</p>
            <h3 class="heading-tertiary">
                Cum funcționează metabolismul?
            </h3>
            <p class="description-step">
                De fiecare dată când mănânci, enzimele din celulele corpului acționează împreună pentru a transforma hrana în energie care menține funcțiile organismului. Metabolismul este precum un motor de reacții chimice, care mențin corpul uman în viață. Viteza la care funcționează acest motor, însă, variază de la o persoană la alta.
            </p>
        </div>
    
    <!-- STEP 03 -->
    
        <div class="text-step-box">
            <p class="step-number">03</p>
            <h3 class="heading-tertiary">
                Ce este rata metabolică?
            </h3>
            <p class="description-step">
                Rata metabolică este cantitatea de energie chimică eliberată de organism în timpul desfășurării unei activități. Această energie este măsurată în calorii. De cele mai multe ori, însă, sunt folosite kcal adică kilo-caloriile pentru măsurarea energiei. Rata metabolică poate fi influențată de o serie de factori precum dieta, statusul hormonal, activitatea fizică desfășurată ori unele probleme de sănătate.
            </p>
        </div>
        <div class="img-step-box">
            <img src="assets/img/step-img-3.jpg" class="img-step" alt="Ceva"/>
        </div>
    </div>
</section>
<app-footer></app-footer>
</body>
